/* line 1, ../sass/menu.scss */
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 9, ../sass/menu.scss */
#cssmenu {
  line-height: 0.5;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #0fa1e0;
  width: auto;
}

/* line 24, ../sass/menu.scss */
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}

/* line 30, ../sass/menu.scss */
#cssmenu a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}

/* line 44, ../sass/menu.scss */
#cssmenu ul {
  list-style: none;
}

/* line 47, ../sass/menu.scss */
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}

/* line 52, ../sass/menu.scss */
#cssmenu.align-center {
  text-align: center;
}

/* line 55, ../sass/menu.scss */
#cssmenu.align-center > ul > li {
  float: none;
}

/* line 58, ../sass/menu.scss */
#cssmenu.align-center ul ul {
  text-align: left;
}

/* line 61, ../sass/menu.scss */
#cssmenu.align-right > ul {
  float: right;
}

/* line 64, ../sass/menu.scss */
#cssmenu.align-right ul ul {
  text-align: right;
}

/* line 67, ../sass/menu.scss */
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}

/* line 71, ../sass/menu.scss */
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}

/* line 84, ../sass/menu.scss */
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

/* line 89, ../sass/menu.scss */
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/* line 95, ../sass/menu.scss */
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}

/* line 100, ../sass/menu.scss */
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}

/* line 114, ../sass/menu.scss */
#cssmenu .has-sub {
  z-index: 1;
}

/* line 117, ../sass/menu.scss */
#cssmenu .has-sub:hover > ul {
  display: block;
}

/* line 120, ../sass/menu.scss */
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}

/* line 127, ../sass/menu.scss */
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}

/* line 131, ../sass/menu.scss */
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}

/* line 134, ../sass/menu.scss */
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}

/* line 144, ../sass/menu.scss */
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}

/* line 147, ../sass/menu.scss */
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}

/* line 150, ../sass/menu.scss */
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}

/* line 153, ../sass/menu.scss */
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

/* line 159, ../sass/menu.scss */
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}

/* line 164, ../sass/menu.scss */
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}

/* line 168, ../sass/menu.scss */
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}

/* line 171, ../sass/menu.scss */
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 10, ../sass/clearfix.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 16, ../sass/clearfix.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 24, ../sass/clearfix.scss */
.cf {
  *zoom: 1;
}

/* line 1, ../sass/colors.min.scss */
.bg-navy {
  background-color: #001F3F;
}

/* line 1, ../sass/colors.min.scss */
.bg-blue {
  background-color: #0074D9;
}

/* line 1, ../sass/colors.min.scss */
.bg-aqua {
  background-color: #7FDBFF;
}

/* line 1, ../sass/colors.min.scss */
.bg-teal {
  background-color: #39CCCC;
}

/* line 1, ../sass/colors.min.scss */
.bg-olive {
  background-color: #3D9970;
}

/* line 1, ../sass/colors.min.scss */
.bg-green {
  background-color: #2ECC40;
}

/* line 1, ../sass/colors.min.scss */
.bg-lime {
  background-color: #01FF70;
}

/* line 1, ../sass/colors.min.scss */
.bg-yellow {
  background-color: #FFDC00;
}

/* line 1, ../sass/colors.min.scss */
.bg-orange {
  background-color: #FF851B;
}

/* line 1, ../sass/colors.min.scss */
.bg-red {
  background-color: #FF4136;
}

/* line 1, ../sass/colors.min.scss */
.bg-fuchsia {
  background-color: #F012BE;
}

/* line 1, ../sass/colors.min.scss */
.bg-purple {
  background-color: #B10DC9;
}

/* line 1, ../sass/colors.min.scss */
.bg-maroon {
  background-color: #85144B;
}

/* line 1, ../sass/colors.min.scss */
.bg-white {
  background-color: #fff;
}

/* line 1, ../sass/colors.min.scss */
.bg-gray {
  background-color: #aaa;
}

/* line 1, ../sass/colors.min.scss */
.bg-silver {
  background-color: #ddd;
}

/* line 1, ../sass/colors.min.scss */
.bg-black {
  background-color: #111;
}

/* line 1, ../sass/colors.min.scss */
.navy {
  color: #001F3F;
}

/* line 1, ../sass/colors.min.scss */
.blue {
  color: #0074D9;
}

/* line 1, ../sass/colors.min.scss */
.aqua {
  color: #7FDBFF;
}

/* line 1, ../sass/colors.min.scss */
.teal {
  color: #39CCCC;
}

/* line 1, ../sass/colors.min.scss */
.olive {
  color: #3D9970;
}

/* line 1, ../sass/colors.min.scss */
.green {
  color: #2ECC40;
}

/* line 1, ../sass/colors.min.scss */
.lime {
  color: #01FF70;
}

/* line 1, ../sass/colors.min.scss */
.yellow {
  color: #FFDC00;
}

/* line 1, ../sass/colors.min.scss */
.orange {
  color: #FF851B;
}

/* line 1, ../sass/colors.min.scss */
.red {
  color: #FF4136;
}

/* line 1, ../sass/colors.min.scss */
.fuchsia {
  color: #F012BE;
}

/* line 1, ../sass/colors.min.scss */
.purple {
  color: #B10DC9;
}

/* line 1, ../sass/colors.min.scss */
.maroon {
  color: #85144B;
}

/* line 1, ../sass/colors.min.scss */
.white {
  color: #fff;
}

/* line 1, ../sass/colors.min.scss */
.silver {
  color: #ddd;
}

/* line 1, ../sass/colors.min.scss */
.gray {
  color: #aaa;
}

/* line 1, ../sass/colors.min.scss */
.black {
  color: #111;
}

/* line 1, ../sass/colors.min.scss */
.border--navy {
  border-color: #001F3F;
}

/* line 1, ../sass/colors.min.scss */
.border--blue {
  border-color: #0074D9;
}

/* line 1, ../sass/colors.min.scss */
.border--aqua {
  border-color: #7FDBFF;
}

/* line 1, ../sass/colors.min.scss */
.border--teal {
  border-color: #39CCCC;
}

/* line 1, ../sass/colors.min.scss */
.border--olive {
  border-color: #3D9970;
}

/* line 1, ../sass/colors.min.scss */
.border--green {
  border-color: #2ECC40;
}

/* line 1, ../sass/colors.min.scss */
.border--lime {
  border-color: #01FF70;
}

/* line 1, ../sass/colors.min.scss */
.border--yellow {
  border-color: #FFDC00;
}

/* line 1, ../sass/colors.min.scss */
.border--orange {
  border-color: #FF851B;
}

/* line 1, ../sass/colors.min.scss */
.border--red {
  border-color: #FF4136;
}

/* line 1, ../sass/colors.min.scss */
.border--fuchsia {
  border-color: #F012BE;
}

/* line 1, ../sass/colors.min.scss */
.border--purple {
  border-color: #B10DC9;
}

/* line 1, ../sass/colors.min.scss */
.border--maroon {
  border-color: #85144B;
}

/* line 1, ../sass/colors.min.scss */
.border--white {
  border-color: #fff;
}

/* line 1, ../sass/colors.min.scss */
.border--gray {
  border-color: #aaa;
}

/* line 1, ../sass/colors.min.scss */
.border--silver {
  border-color: #ddd;
}

/* line 1, ../sass/colors.min.scss */
.border--black {
  border-color: #111;
}

/* line 1, ../sass/colors.min.scss */
.fill-navy {
  fill: #001F3F;
}

/* line 1, ../sass/colors.min.scss */
.fill-blue {
  fill: #0074D9;
}

/* line 1, ../sass/colors.min.scss */
.fill-aqua {
  fill: #7FDBFF;
}

/* line 1, ../sass/colors.min.scss */
.fill-teal {
  fill: #39CCCC;
}

/* line 1, ../sass/colors.min.scss */
.fill-olive {
  fill: #3D9970;
}

/* line 1, ../sass/colors.min.scss */
.fill-green {
  fill: #2ECC40;
}

/* line 1, ../sass/colors.min.scss */
.fill-lime {
  fill: #01FF70;
}

/* line 1, ../sass/colors.min.scss */
.fill-yellow {
  fill: #FFDC00;
}

/* line 1, ../sass/colors.min.scss */
.fill-orange {
  fill: #FF851B;
}

/* line 1, ../sass/colors.min.scss */
.fill-red {
  fill: #FF4136;
}

/* line 1, ../sass/colors.min.scss */
.fill-fuchsia {
  fill: #F012BE;
}

/* line 1, ../sass/colors.min.scss */
.fill-purple {
  fill: #B10DC9;
}

/* line 1, ../sass/colors.min.scss */
.fill-maroon {
  fill: #85144B;
}

/* line 1, ../sass/colors.min.scss */
.fill-white {
  fill: #fff;
}

/* line 1, ../sass/colors.min.scss */
.fill-gray {
  fill: #aaa;
}

/* line 1, ../sass/colors.min.scss */
.fill-silver {
  fill: #ddd;
}

/* line 1, ../sass/colors.min.scss */
.fill-black {
  fill: #111;
}

/* line 1, ../sass/colors.min.scss */
.stroke-navy {
  stroke: #001F3F;
}

/* line 1, ../sass/colors.min.scss */
.stroke-blue {
  stroke: #0074D9;
}

/* line 1, ../sass/colors.min.scss */
.stroke-aqua {
  stroke: #7FDBFF;
}

/* line 1, ../sass/colors.min.scss */
.stroke-teal {
  stroke: #39CCCC;
}

/* line 1, ../sass/colors.min.scss */
.stroke-olive {
  stroke: #3D9970;
}

/* line 1, ../sass/colors.min.scss */
.stroke-green {
  stroke: #2ECC40;
}

/* line 1, ../sass/colors.min.scss */
.stroke-lime {
  stroke: #01FF70;
}

/* line 1, ../sass/colors.min.scss */
.stroke-yellow {
  stroke: #FFDC00;
}

/* line 1, ../sass/colors.min.scss */
.stroke-orange {
  stroke: #FF851B;
}

/* line 1, ../sass/colors.min.scss */
.stroke-red {
  stroke: #FF4136;
}

/* line 1, ../sass/colors.min.scss */
.stroke-fuchsia {
  stroke: #F012BE;
}

/* line 1, ../sass/colors.min.scss */
.stroke-purple {
  stroke: #B10DC9;
}

/* line 1, ../sass/colors.min.scss */
.stroke-maroon {
  stroke: #85144B;
}

/* line 1, ../sass/colors.min.scss */
.stroke-white {
  stroke: #fff;
}

/* line 1, ../sass/colors.min.scss */
.stroke-gray {
  stroke: #aaa;
}

/* line 1, ../sass/colors.min.scss */
.stroke-silver {
  stroke: #ddd;
}

/* line 1, ../sass/colors.min.scss */
.stroke-black {
  stroke: #111;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("fonts/ubuntu.woff") format("woff");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("fonts/ubuntu-bold.woff") format("woff");
}
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica"), local("Helvetica"), url("fonts/helveticaneue.woff") format("woff");
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../sass/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../sass/normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, ../sass/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, ../sass/normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../sass/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../sass/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../sass/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../sass/normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../sass/normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../sass/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../sass/normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../sass/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../sass/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../sass/normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../sass/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../sass/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../sass/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../sass/normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../sass/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, ../sass/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../sass/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../sass/normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, ../sass/normalize.scss */
td,
th {
  padding: 0;
}

@CHARSET "ISO-8859-1";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/wp-style-default.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
}

/* line 4, ../sass/wp-style-default.scss */
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

/* line 9, ../sass/wp-style-default.scss */
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

/* line 14, ../sass/wp-style-default.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* line 20, ../sass/wp-style-default.scss */
.alignnone, img.alignnone {
  /* not sure about this one */
}

/* line 23, ../sass/wp-style-default.scss */
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

/* line 28, ../sass/wp-style-default.scss */
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

/* line 33, ../sass/wp-style-default.scss */
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

/* line 38, ../sass/wp-style-default.scss */
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

/* line 42, ../sass/wp-style-default.scss */
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

/* line 49, ../sass/wp-style-default.scss */
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
