@import url('style.css');
html { 
	font-size: 110%; 
	font-family: georgia;
}

.article{background:#fff;width:80%;max-width: 635px;font-size:90%}
.article p{line-height: 1.7em;}
.article img.size-full, .article img.size-medium, .article img.size-small  {
	max-width: 90%;
	height: 90%;
	padding: 0.2em;
	border: 1px solid #fff;
	background: #fff;
	box-shadow: 1px 0px 3px #ccc;
}

.article ul{
	 list-style: url('images/point.png') outside;
	 margin: 0 2% 1em 10%;
	 font-size:95%;
	 
}

.article ol{
	list-style:decimal outside;
	margin: 0 2% 1em 10%;
	font-size: 95%; 
}
	.article ul li, .article ol li{
		line-height:2em
	}

.mce-content-body{margin: 1em 0 1em 1em;}